label {
  display: block;
  font-weight: 700;
  font-size: 15px;
  color: var(--smokey-grey);
  letter-spacing: 1px;
}

form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px var(--light-grey) solid;
  padding-bottom: 25px;
  width: 85%;
  gap: 20px;
}

input {
  padding: 10px;
  width: 120px;
  height: 30px;
  border: 1px var(--light-grey) solid;
  border-radius: 5px;
  color: var(--off-black);
  font-size: 32px;
  font-weight: 700;
}

input:hover {
  border-color: var(--purple);
  cursor: pointer;
}

input::placeholder {
  color: var(--smokey-grey);
  font-weight: 700;
  font-size: 32px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -30px;
  right: -20px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: var(--purple);
  border: none;
}

button:hover {
  background-color: var(--off-black);
  cursor: pointer;
}

img {
  width: 70%;
}

h1,
h2 {
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

h1 {
  color: var(--purple);
  margin-right: 10px;
}

.main {
  background-color: var(--white);
  width: 650px;
  border-radius: 10px 10px 200px 10px;
  padding: 30px;
}

.years-div,
.months-div,
.days-div {
  display: flex;
}

.label-error {
  color: var(--light-red);
}

.error-text {
  color: var(--light-red);
  font-weight: 400;
  font-style: italic;
}

.input-error {
  border-color: var(--light-red);
}

@media (max-width: 740px) {
  input {
    width: 80px;
  }
  form {
    justify-content: space-around;
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
  button {
    bottom: -30px;
    right: 50%;
  }
  input,
  input::placeholder {
    font-size: 25px;
  }
  .main {
    width: 80vw;
  }
}

@media (max-width: 460px) {
  h1,
  h2 {
    font-size: 47px;
  }

  input,
  input::placeholder {
    font-size: 22px;
  }
}
